/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

input {
  font-size: 14px;
}

body {
  line-height: 1.4;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin-bottom: 16px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}

input {
  border: 1px solid #eeeeee;
  padding: 12px;
  outline: none;
}
input:focus {
  outline: #333333;
}
button {
  cursor: pointer;
  padding: 6px 16px;
  background: #7c5cbf;
  border: none;
  color: white;
  font-size: 16px;
  transition: background 0.3s ease;
}

button:hover {
  background: #6b47b8;
}

button:disabled {
  cursor: default;
  background: #7c5cbf94;
}

/* Join Page Styles */

.centeredForm {
  background: #333744;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredFormBox {
  box-shadow: 0px 0px 17px 1px #1d1f26;
  background: #f7f7fa;
  padding: 24px;
  width: 500px;
}

.centeredForm button {
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 20px;
  border: 1px solid #6b47b8;
  border-radius: 4px;
}

.centeredForm input {
  margin-bottom: 16px;
  width: 100%;
  border-radius: 4px;
}

.centeredFormBox h1 {
  text-align: center;
  color: #6b47b8;
  text-transform: uppercase;
}
/* Chat Page Layout */

.chat {
  display: flex;
}

.chatSidebar {
  height: 100vh;
  color: white;
  background: #333744;
  width: 225px;
  overflow-y: scroll;
}

/* Chat styles */

.chatMain {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.chatMessages {
  flex-grow: 1;
  padding: 24px 10px 0 10px;
  overflow-y: scroll;
}

/* Message Styles */

.message {
  margin-bottom: 16px;
  padding: 13px 20px;
  background-color: #e5e6ff;
  border: 1px solid #e5e6ff;
  border-radius: 4px;
  box-sizing: border-box;
}

.messageName {
  font-weight: 600;
  font-size: 14px;
  color: #6b47b8;
  margin-right: 8px;
  padding-top: 5px;
}

.messageMeta {
  color: #777;
  font-size: 12px;
  padding-top: 3px;
}

.message a {
  color: #0070cc;
}

/* Message Composition Styles */

.compose {
  display: flex;
  flex-shrink: 0;
  margin-top: 16px;
  padding: 24px;
}

.compose form {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
}

.compose input {
  border: 1px solid #eeeeee;
  width: 90%;
  padding: 12px;
  margin: 0 16px 0 0;
  flex-grow: 1;
}

.compose button {
  font-size: 14px;
  margin-right: 10px;
}

/* Chat Sidebar Styles */
.room {
  padding-left: 20px;
  margin-top: 30px;

  text-transform: uppercase;
}
.room-title {
  font-weight: 400;
  font-size: 22px;
  background: #2c2f3a;
  padding: 20px 0;
  margin-top: 10px;
  text-align: center;
}

.list-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  padding: 12px 24px 0 24px;

  text-transform: uppercase;
  margin-top: 100px;
}
.users {
  margin-top: 20px;
}
.users li {
  margin-top: 5px;
  list-style-type: none;
  font-weight: 300;
  padding: 12px 24px 12px 24px;
  font-size: 20px;
  background-color: #2c2f3a;
}
/* .users li::after {
  content: "\25CF";
  color: green;
  position: absolute;
  left: 0;
  padding-left: 10px;
} */
